<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<security>
				<requestFiltering removeServerHeader="true">
					<requestLimits maxQueryString="4080" maxAllowedContentLength="524288000" />
				</requestFiltering>
			</security>
			<httpProtocol>
				<customHeaders>
					<add name="X-Frame-Options" value="DENY" />
					<add name="X-Content-Type-Options" value="nosniff" />
					<add name="X-XSS-Protection" value="1; mode=block" />
					<add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
					<add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
					<add name="Permissions-Policy" value="accelerometer=(), autoplay=(), camera=(), encrypted-media=(), fullscreen=(self), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), midi=(), payment=(), usb=(), clipboard-read=(self), clipboard-write=(self)" />
					<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
					<add name="Pragma" value="no-cache" />
					<add name="Expires" value="0" />
					<remove name="X-Powered-By" />
					<remove name="X-AspNet-Version" />
					<remove name="X-AspNetMvc-Version" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>